<div class="row">
    <label>Введите email</label>
    <label>Введите email</label>
    <label>Введите email</label>
    <label>Введите email</label>
    <label>Введите email</label>
    <label>Введите email</label>
    <label>Введите email</label>
    <label>Введите email</label>
    <label>Введите email</label>
    <label>Введите email</label>
    <label>Введите email</label>
    <label>Введите email</label>
    <label>Введите email</label>
    <label>Введите email</label>
    <label>Введите email</label>
</div>

<div>
    <label>Введите email</label>
    <input type="email" id="email" />
    <label>Введите ФИО</label>
    <input type="text" id="userfio" />
    <label>Введите пароль</label>
    <input type="password" id="password" />
    <label>Подтвердите пароль</label>
    <input type="password" id="confirmpassword" />
    <input type="submit" id="submit" value="Регистрация" />
</div>

<div class="userInfo" style="display:none;">
    Вы вошли как:
    <input type="button" value="Выйти" id="logOut" />
</div>
<div class="loginForm">
    <h3>Вход на сайт</h3>
    <label>Введите email</label>

    <input type="email" id="emailLogin" />

    <label>Введите пароль</label>

    <input type="password" id="passwordLogin" />

    <input type="submit" id="submitLogin" value="Логин" />
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#submit').click(function (e) {
                e.preventDefault();
                var data = {
                    Email: $('#email').val(),
                    UserFIO: $('#userfio').val(),
                    Password: $('#password').val(),
                    ConfirmPassword: $('#confirmpassword').val()
                };

                $.ajax({
                    type: 'POST',
                    url: '/api/Account/Register',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data)
                }).success(function (data) {
                    alert("Регистрация пройдена");
                }).error(function (data) {
                    alert("В процесе регистрации возникла ошибка");
                });
            });
        })
    </script>
    <script type="text/javascript">
        $(function () {
            //...........................

            var tokenKey = "tokenInfo";
            $('#submitLogin').click(function (e) {
                e.preventDefault();
                var loginData = {
                    grant_type: 'password',
                    username: $('#emailLogin').val(),
                    password: $('#passwordLogin').val()
                };

                $.ajax({
                    type: 'POST',
                    url: '/Token',
                    data: loginData
                }).success(function (data) {
                    $('.userName').text(data.userName);
                    $('.userInfo').css('display', 'block');
                    $('.loginForm').css('display', 'none');
                    // сохраняем в хранилище sessionStorage токен доступа
                    sessionStorage.setItem(tokenKey, data.access_token);
                    console.log(data.access_token);
                }).error(function (data) {
                    alert('При логине возникла ошибка');
                });
            });

            $('#logOut').click(function (e) {
                e.preventDefault();
                sessionStorage.removeItem(tokenKey);
            });
        })
    </script>
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")